.btn-add-to-cart {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #000;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.btn-add-to-cart:hover {
    background-color: rgb(14, 110, 1);
    transition: all 0.4s;
}

.btn-close {
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 20px;
    &-card {
        position: relative;
        left: 45%;
        color: #000;
        top: 0
    }
}

.btn-action {
    background-color: #b3382c;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 25%;
    margin: 10px 10px 0;
}