.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: end;
}

.btn-fav {
    width: 50px;
    background-color: transparent;
    border: none;
    margin-right: 2%;
    font-size: 1rem;
    &-mini {
        width: 40px;
        background-color: transparent;
        border: none;
        margin-right: 2%;
    }
    &-mini:hover {
        fill: rgb(14, 110, 1);
        cursor: pointer;
    }
}

.btn-cart {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin-right: 10%;
}