.form-cart {
    width: 20%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    margin-top: 100px;
    margin-right: 50px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    5px 5px 15px rgba(70, 70, 70, 0.12);
    padding-bottom: 25px;
}
.form-cart:hover {
    box-shadow: 
    -3px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -3px -10px 15px rgba(255, 255, 255, 0.5),
    inset 5px 5px 15px rgba(70, 70, 70, 0.12);
    transition: all 0.4s;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    margin-top: 5px;
}

.input-error {
    border: 2px solid rgb(155, 0, 0);
  }
.input-valid {
    border: 2px solid rgb(14, 110, 1);
}

input:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
}



.btn-checkout {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #000;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.btn-checkout:hover {
    background-color: rgb(14, 110, 1);
    transition: all 0.4s;
}

.message-error {
    background-color:rgb(155, 0, 0);
    padding: 5px;
    margin-bottom: 5px;
    color: #fff;
}