.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-fav {
    position: absolute;
    top: -8px;
    left: 20px;
    font-size: 1rem;

}

.count-card {
    position: absolute;
    top: -19px;
    left: 23px;
    color: #fff;
    font-size: 1rem;
}
.btn {
    margin-right: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 2;
    position: relative;
}

.btn:hover,
.btn.active {
    color: rgba(255, 255, 255, 0.5);
}


.btn svg:hover {
    fill: rgba(255, 255, 255, 0.7)
}

.btn-fav {
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    &-mini {
        width: 40px;
        background-color: transparent;
        border: none;
        margin-right: 2%;
    }
    &-mini:hover {
        fill: rgb(14, 110, 1);
        cursor: pointer;
    }
}

.btn-cart {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}