.btn-add-to-card {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #000;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.btn-add-to-card:hover {
    background-color: rgb(14, 110, 1);
    transition: all 0.4s;
}