.item {
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    5px 5px 15px rgba(70, 70, 70, 0.12);
    padding-bottom: 25px;

    img {
        height: 180px;
        width: 200px;
        
    }
    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
    }

    h2::first-letter {
        text-transform: uppercase;
    }

    &-price {
        font-size: 1.25rem;
        font-weight: 500;

    }
}

.item:hover {
    box-shadow: 
    -3px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -3px -10px 15px rgba(255, 255, 255, 0.5),
    inset 5px 5px 15px rgba(70, 70, 70, 0.12);
    transition: all 0.4s;
}


.wrap {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

